#home-view {
	height: 400px;
	display: inline-block;
	line-height: 150%;
	background-color: lightblue;
}

#view {
	height: 400px;	
	float: right;
	float: top;
	display: inline-block;
	background-color: pink;
}

#addSong {
	display: block;
	width: 300px;
	height: 150px;
	text-align: center;
	right: 100px;
	margin: auto;
	line-height: 200%;	
}

li {
	display: inline;
}

.hide {
	display: none;
	visibility: hidden;
}
